<h1>Parants Components</h1>
<!-- 
<table class="table table-striped">  
  <thead>  
      <tr>  
        <th>ID</th>  
        <th>Name</th>  
        <th>Email</th>  
        <th>Gender</th>  
      </tr>  
  </thead>  
  <tbody>  
    <tr *ngFor="let student of students">{{student}}
      <td>{{ student.id }}</td>  
      <td>{{ student.name }}</td>  
      <td>{{ student.email }}</td>  
      <td>{{ student.gender }}</td>  
    </tr>  
  </tbody>  
</table>   -->

<ul>
  <li *ngFor="let student of students">{{student}}</li>
</ul>

<app-child [studentName]="sname" (newStudentEvent)='addNewStudent($event)'></app-child>

<router-outlet></router-outlet>